.projects{
    padding: 30px;
    width: calc(100% - 150px);
    float: right;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

.rootContainer .projects{
    justify-content: space-between;
}

.projects.light {
    background-color: #fcfcfc;
}

.projects.dark {
    background-color: #1e1e1e;
}

.projects.light h1 span,
.projects.light p,
.projects.light h3 {
  color: #000;
}

.projects.dark h1 span,
.projects.dark p,
.projects.dark h3 {
  color: #fff;
}projects

.projects h1{
    margin-top: 15px;
}

.projects h3{
    margin-bottom: 5px;
}

.projects h1, .projects h3, .projects p{
    text-align: center;
}

.projects .page{
    width: 90%;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
}

.projectsLine{
    display: flex;
    margin: 10px 0;
}

.projectsLine:nth-child(1){
    justify-content: space-between;
}

.projectsLine:nth-child(2){
    justify-content: space-evenly;
}

.projectItem{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectItem p{
    font-size: 14px;
}

.projectItem p:nth-child(3){
    font-weight: bold;
}

video{
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
}

@media (max-width: 1500px){
    .projects{
        height: auto;
    }

    video{
        width: 80%;
    }

    .projectItem p{
        font-size: 12px;
    }

    .projectItem a{
        display: flex;
        justify-content: center;
    }

    .projects h1{
        margin-top: 40px;
    }
}

@media (max-width: 1400px){
    .projectsContainer{
        margin-top: 40px;
    }

    .projectsLine{
        flex-direction: column;
        align-items: center;
    }

    .projectItem{
        margin-bottom: 30px;
    }
}

@media (max-width: 820px){
    .projects{
      width: 100%;
    }
}

@media (max-width: 400px){
    .projectItem p{
        width: 70%;
        font-size: 10px;
    }

    .projectItem{
        align-items: center;
    }

    .projectItem > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}