.switch{
    display: flex;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 30;
    cursor: pointer;
}

.switch.light{
    color: #000;
}

.switch.dark{
    color: #fff;
}

.switchContainer{
    width: 50px;
    height: 25px;
    border-radius: 25px;
    padding: 0 3px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    background-color: #000;
}

.light .switchContainer{
    border: 2px solid #000;
    background-color: #fff;
}

.dark .switchContainer{
    border: 2px solid #fff;
}

.switchButton{
    width: 18px;
    height: 18px;
    border-radius: 25px;
    transition: var(--transition);
}

.dark .switchButton{
    margin-right: 50%;
    background-color: #fff;
}

.light .switchButton{
    margin-left: 50%;
    background-color: #000;
}

@media (max-width: 600px){
    .switch {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
}