.about{
    padding: 30px;
    height: 100vh;
    width: calc(100% - 150px);
    float: right;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.rootContainer .about{
    justify-content: space-between;
}

.about.light {
    background-color: #fcfcfc;
}

.about.dark {
background-color: #1e1e1e;
}

.about .page{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}

.threeContainer{
    width: 40%;
    display: flex;
    align-items: center;
}

canvas{
    width: 100% !important;
    height: 100% !important;
}

.about .text-zone{
    text-align: left;
}

.about .container{
    width: 45%;
    display: flex;
    align-items: center;
}

.about p, .projects p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.about.light h1 span,
.about.light p {
  color: #000;
}

.about.dark h1 span,
.about.dark p {
  color: #fff;
}

.about .aboutText span,
.projects .projectsText span{
    color: #08FDD8;
    cursor: pointer;
}

@media (max-height: 750px){
    .about {
        height: auto;
    }
}

@media (max-width: 1350px){
    .about .page {
        flex-direction: column;
    }

    .about .container {
        width: 100%;
    }

    .about .text-zone {
        text-align: center;
    }

    .about p, .projects p {
        text-align: center;
    }

    .threeContainer {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1000px){
    .about p, .projects p {
        font-size: 14px;
    }
}

@media (max-width: 820px){
    .rootContainer .about{
        overflow: hidden;
        height: 100vh;
    }

    .about{
      width: 100%;
      overflow: auto;
      display: block;
    }
}

@media (max-width: 500px){
    .about .page {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .about p, .projects p {
        font-size: 10px;
    }
}