.contact{
    padding: 30px;
    width: calc(100% - 150px);
    float: right;
    height: 100vh;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact.light {
    background-color: #fcfcfc;
}

.contact.dark {
background-color: #1e1e1e;
}

.contact .page{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .text-zone{
    text-align: center;
}

.contact p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.contact.light h1 span,
.contact.light p {
  color: #000;
}

.contact.dark h1 span,
.contact.dark p {
  color: #fff;
}

.contact form{
    width: 65%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .formLine{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact input, .contact textarea{
    margin: 15px 20px;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 15px 15px;
    outline: none;
    transition: var(--transition);
    font-size: 20px;
}

.contact.dark input,
.contact.dark textarea{
    background-color: #2B2B2B;
    color: #fff;
}

.contact input[name="name"],
.contact input[name="email"]{
    width: 50%;
}

.contact input[name="subject"]{
    width: 100%;
}

.contact textarea{
    width: 100%;
    min-height: 120px;
}

.swal2-styled.swal2-confirm {
    background-color: #000 !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #807d7d !important;
}

@media (max-width: 1800px){
    .contact form{
        width: 100%;
    }
}

@media (max-width: 1080px){
    .contact p {
        font-size: 14px;
    }

    .contact input, .contact textarea {
        margin: 15px 20px;
        padding: 10px 10px;
        font-size: 14px;
    }

    .contact .page {
        width: 80%;
    }
}

@media (max-width: 820px){
    .contact{
      width: 100%;
    }
}

@media (max-width: 600px){
    .formLine:nth-child(1){
        flex-direction: column;
    }

    .contact input[name="name"], .contact input[name="email"] {
        width: 100%;
    }

    .contact input, .contact textarea {
        margin: 15px 0;
    }
}

@media (max-width: 400px) and (max-height: 700px){
    .contact input, .contact textarea {
        margin: 5px 0;
    }

    .contact p {
        font-size: 12px;
    }

    .contact input, .contact textarea {
        font-size: 12px;
    }
}