@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.sliderContainer{
    padding-top: 40px;
}

.slider {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider h3{
    margin-top: 20px;
}

.slide,
.slide img {
  width: 100%;
  max-height: 330px;
  border-radius: 20px;
}

.slide img:focus,
.slide:focus{ outline: none; }

.slide {
  /* opacity: .5; */
  transform: scale(0.7);
  transition: 0.5s;
  filter: blur(5px);
}

.slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
}

.slick-initialized .slick-slide > div {
    min-height: 400px;
    margin-top: 30px;
}

.arrow {
  font-size: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  width: 50px;
  position: absolute;
  top: 200px;
  z-index: 100;
  cursor: pointer;
}

.dark .arrow{
    color: white;
}

.arrow-right {
  right: 20px;
}
.arrow-left {
  left: 20px;
}

.slick-slider {
    height: 100%;
    display: flex;
    align-items: center;
}

.light .slick-slide img {
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

.dark .slick-slide img {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 7vw;
  }
}