@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
  --transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  overflow-x: hidden;
}


section{
  width: 100vw !important;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

h1{
  letter-spacing: 1px;
  user-select: none;
  cursor: default;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}